@import "tailwindcss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  inset: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

@theme {
  --color-red: #b11226;
  --color-gold: #e6b422;
}
